* {
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    /* Cor de fundo branca */
    box-shadow: 0 0 0 1000px white inset;
    /* Cor de fundo branca */
    -webkit-text-fill-color: #333;
    /* Cor do texto, ajuste conforme necessário */
}

body {
    background-color: white;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Topo para todas as páginas */
.top {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 15px rgb(153, 153, 153);
    background-color: rgb(255, 255, 255);
}

.topUp {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-color: blue; */
}

.topDown {
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-color: red; */
}

.leftTop {
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-color: red; */
}

.middleTop {
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-color: green;  */
}

.rightTop {
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    /*background-color: blue; */
}

.logo {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    border-radius: 15px;
}

.topMenu {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.topSearch {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.topSearch input {
    width: 400px;
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-width: 1px;
    border-radius: 5px;
    outline: none;

}

.topSearch input:focus {
    border: 1px solid rgb(107, 107, 107);
}

.topLiked {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 10px;
}

.topMarketCar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.topUserImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 0px;
}

.navigation {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    display: flex;
    height: 30px;
    flex-direction: column;
    text-decoration: none;
    transition: background .3s;
    font-family: Arial;
    text-align: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    color: #9f9797;
    font-size: 16;
}

.navigation a:hover {
    color: #e47e40;
}

/* Meio para todas as páginas */
.middle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: Arial;
}

/* Página de Login */

.loginEsignup {
    display: flex;
    flex-direction: row;
    color: rgb(43, 41, 41);
}

.login {
    margin-right: 50px;
}

.signup {
    width: 300px;
    margin-left: 50px;
}

.loginMenu {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.loginMenu h2 {
    text-align: left;
    font-weight: normal;
}

.loginMenu h4 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: normal;
}

.loginMenu input[type="email"],
.loginMenu input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;

}

.loginMenu input[type="email"]:focus {
    border: 1px solid rgb(30, 116, 196);
}


.loginMenu input[type="password"]:focus {
    border: 1px solid rgb(30, 116, 196);
}

.loginMenu input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e47e40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15;
    transition: background-color 0.2s, transform 0.1s;
}

.loginMenu input[type="submit"]:hover {
    background-color: #c46429;
}

.loginMenu .forgotPassword {
    text-align: center;
    margin-top: 10px;
}

.loginMenu .forgotPassword a {
    color: #007bff;
    text-decoration: none;
}

.loginMenu .forgotPassword a:hover {
    text-decoration: underline;
}

.loginTitle {
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.loginTitle h2 {
    font-weight: normal;
}

.signupTitle {
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.signupTitle h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

.signupTitle h4 {
    font-weight: normal;
    text-align: justify;
}

.signupMenu button {
    width: 300px;
    padding: 10px;
    background-color: #e47e40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16;
    transition: background-color 0.2s, transform 0.1s;
}

.signupMenu button:hover {
    background-color: #c46429;
}

/* Rodapé para todas as páginas */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F1314F;
    color: #232226;
    text-align: center;
    font-family: Arial;
    box-shadow: 0px 1px 10px black;
}

.topUserImg a {
    text-decoration: none;
    color: #9f9797;
}